<!-- ***** POSTS MAIN PAGE ***** -->
<div *ngIf='!selected && !catSelected && !newTopic' class="container-fluid">

  <div class="headernav">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo ">
          <a href="index.html">
            <img src="assets/images/logo.jpg" alt="" />
          </a>
        </div>
        <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">
          <div class="dropdown">
            <a data-toggle="dropdown" href="#">Borderlands 2</a>
            <b class="caret"></b>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">Borderlands 1</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-2" href="#">Borderlands 2</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-3" href="#">Borderlands 3</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
          <div class="wrap">
            <form action="#" method="post" class="form">
              <div class="pull-left txt">
                <input type="text" class="form-control" placeholder="Search Topics">
              </div>
              <div class="pull-right">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
          <div class="stnt pull-left">
            <form action="03_new_topic.html" method="post" class="form">
              <button (click)='startNewTopic()' class="btn btn-primary">Start New Topic</button>
            </form>
          </div>
          <div class="env pull-left">
            <i class="fa fa-envelope"></i>
          </div>

          <div class="avatar pull-left dropdown">
            <a data-toggle="dropdown" href="#">
              <img src="assets/images/avatar.jpg" alt="" />
            </a>
            <b class="caret"></b>
            <div class="status green">&nbsp;</div>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">My Profile</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-2" href="#">Inbox</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-3" href="#">Log Out</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-4" href="04_new_account.html">Create account</a>
              </li>
            </ul>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  <section class="content">

    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <h2 align="center">Skill Distillery Posts</h2>
    </div>
    <!-- <div class="container">
      <div class="row">
        <div class="col-lg-8 col-xs-12 col-md-8">
          <div class="pull-left">
            <a href="#" class="prevnext">
              <i class="fa fa-angle-left"></i>
            </a>
          </div>
          <div class="pull-left">
            <ul class="paginationforum">
              <li class="hidden-xs">
                <a href="#">1</a>
              </li>
              <li class="hidden-xs">
                <a href="#">2</a>
              </li>
              <li class="hidden-xs">
                <a href="#">3</a>
              </li>
              <li class="hidden-xs">
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>
                <a href="#">6</a>
              </li>
              <li>
                <a href="#" class="active">7</a>
              </li>
              <li>
                <a href="#">8</a>
              </li>
              <li class="hidden-xs">
                <a href="#">9</a>
              </li>
              <li class="hidden-xs">
                <a href="#">10</a>
              </li>
              <li class="hidden-xs hidden-md">
                <a href="#">11</a>
              </li>
              <li class="hidden-xs hidden-md">
                <a href="#">12</a>
              </li>
              <li class="hidden-xs hidden-sm hidden-md">
                <a href="#">13</a>
              </li>
              <li>
                <a href="#">1586</a>
              </li>
            </ul>
          </div>
          <div class="pull-left">
            <a href="#" class="prevnext last">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div> -->


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">

          <!-- LIST OF CURRENT POSTS -->
          <div *ngFor='let p of posts' class="post">
            <div class="wrap-ut pull-left">
              <div class="userinfo pull-left">
                <div class="avatar">
                  <img src="assets/images/avatar.jpg" alt="" />
                  <div class="status green">&nbsp;</div>
                </div>

                <div class="icons">
                  <img src="assets/images/icon1.jpg" alt="" />
                  <img src="assets/images/icon4.jpg" alt="" />
                </div>
              </div>
              <div class="posttext pull-left">
                <h2>
                  <a (click)='displayPost(p)' onmouseover="this.style.cursor='pointer';">{{p.name}}</a>
                </h2>
                <h6>Category: {{p.category.name}}</h6>
                <p>{{p.description}}</p>
                <a (click)='editPost(p)' onmouseover="this.style.cursor='pointer'; this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">Update</a>
                <span>
                  <a (click)='deletePost(p)' onmouseover="this.style.cursor='pointer'; this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';"style='margin-left: 10px'>Delete</a>
                </span>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="postinfo pull-left">
              <div class="comments">
                <div class="commentbg">
                  {{numCommentsByPost[p.name]}}
                  <div class="mark"></div>
                </div>

              </div>
              <div class="views">
                <i class="fa fa-eye"></i> 1,568</div>
              <div class="time">
                <i class="fa fa-clock-o"></i> 24 min</div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- POST -->

        </div>
        <div class="col-lg-4 col-md-4">

          <!-- DISPLAY ALL CATEGORIES OF POSTS -->
          <div class="sidebarblock">
            <h3>Categories</h3>
            <div class="divline"></div>
            <div class="blocktxt">
              <ul *ngFor='let cat of categories' class="cats">
                <li (click)='displayPostsByCategory(cat.id)' onmouseover="this.style.cursor='pointer';">
                  <a *ngIf='numPostsByCategory[cat.name]'>{{cat.name}}
                    <span class="badge pull-right">{{numPostsByCategory[cat.name]}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- -->
          <div class="sidebarblock">
            <h3>Poll of the Week</h3>
            <div class="divline"></div>
            <div class="blocktxt">
              <p>Which game you are playing this week?</p>
              <form action="#" method="post" class="form">
                <table class="poll">
                  <tr>
                    <td>
                      <div class="progress">
                        <div class="progress-bar color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                          Call of Duty Ghosts
                        </div>
                      </div>
                    </td>
                    <td class="chbox">
                      <input id="opt1" type="radio" name="opt" value="1">
                      <label for="opt1"></label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="progress">
                        <div class="progress-bar color2" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 63%">
                          Titanfall
                        </div>
                      </div>
                    </td>
                    <td class="chbox">
                      <input id="opt2" type="radio" name="opt" value="2" checked>
                      <label for="opt2"></label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="progress">
                        <div class="progress-bar color3" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                          Battlefield 4
                        </div>
                      </div>
                    </td>
                    <td class="chbox">
                      <input id="opt3" type="radio" name="opt" value="3">
                      <label for="opt3"></label>
                    </td>
                  </tr>
                </table>
              </form>
              <p class="smal">Voting ends on 19th of October</p>
            </div>
          </div>

          <!-- -->
          <div class="sidebarblock">
            <h3>My Active Threads</h3>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">This Dock Turns Your iPhone Into a Bedside Lamp</a>
            </div>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">Who Wins in the Battle for Power on the Internet?</a>
            </div>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">Sony QX10: A Funky, Overpriced Lens Camera for Your Smartphone</a>
            </div>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">FedEx Simplifies Shipping for Small Businesses</a>
            </div>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">Loud and Brave: Saudi Women Set to Protest Driving Ban</a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>
<!-- ***** END POST MAIN PAGE ***** -->


<!-- ***** POSTS BY CAT PAGE ***** -->
<div *ngIf='!selected && catSelected && !newTopic' class="container-fluid">

  <div class="headernav">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo ">
          <a href="index.html">
            <img src="assets/images/logo.jpg" alt="" />
          </a>
        </div>
        <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">
          <div class="dropdown">
            <a data-toggle="dropdown" href="#">Borderlands 2</a>
            <b class="caret"></b>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">Borderlands 1</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-2" href="#">Borderlands 2</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-3" href="#">Borderlands 3</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
          <div class="wrap">
            <form action="#" method="post" class="form">
              <div class="pull-left txt">
                <input type="text" class="form-control" placeholder="Search Topics">
              </div>
              <div class="pull-right">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
          <div class="stnt pull-left">
            <form action="03_new_topic.html" method="post" class="form">
              <button (click)='startNewTopic()' class="btn btn-primary">Start New Topic</button>
            </form>
          </div>
          <div class="env pull-left">
            <i class="fa fa-envelope"></i>
          </div>

          <div class="avatar pull-left dropdown">
            <a data-toggle="dropdown" href="#">
              <img src="assets/images/avatar.jpg" alt="" />
            </a>
            <b class="caret"></b>
            <div class="status green">&nbsp;</div>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">My Profile</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-2" href="#">Inbox</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-3" href="#">Log Out</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-4" href="04_new_account.html">Create account</a>
              </li>
            </ul>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>


  <section class="content">

    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <h2 align="center">Skill Distillery Posts</h2>
    </div>
    <!-- <div class="container">
        <div class="row">
          <div class="col-lg-8 col-xs-12 col-md-8">
            <div class="pull-left">
              <a href="#" class="prevnext">
                <i class="fa fa-angle-left"></i>
              </a>
            </div>
            <div class="pull-left">
              <ul class="paginationforum">
                <li class="hidden-xs">
                  <a href="#">1</a>
                </li>
                <li class="hidden-xs">
                  <a href="#">2</a>
                </li>
                <li class="hidden-xs">
                  <a href="#">3</a>
                </li>
                <li class="hidden-xs">
                  <a href="#">4</a>
                </li>
                <li>
                  <a href="#">5</a>
                </li>
                <li>
                  <a href="#">6</a>
                </li>
                <li>
                  <a href="#" class="active">7</a>
                </li>
                <li>
                  <a href="#">8</a>
                </li>
                <li class="hidden-xs">
                  <a href="#">9</a>
                </li>
                <li class="hidden-xs">
                  <a href="#">10</a>
                </li>
                <li class="hidden-xs hidden-md">
                  <a href="#">11</a>
                </li>
                <li class="hidden-xs hidden-md">
                  <a href="#">12</a>
                </li>
                <li class="hidden-xs hidden-sm hidden-md">
                  <a href="#">13</a>
                </li>
                <li>
                  <a href="#">1586</a>
                </li>
              </ul>
            </div>
            <div class="pull-left">
              <a href="#" class="prevnext last">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div> -->


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">

          <!-- POST -->
          <div *ngFor='let p of postsByCategory' class="post">
            <div class="wrap-ut pull-left">
              <div class="userinfo pull-left">
                <div class="avatar">
                  <img src="assets/images/avatar.jpg" alt="" />
                  <div class="status green">&nbsp;</div>
                </div>

                <div class="icons">
                  <img src="assets/images/icon1.jpg" alt="" />
                  <img src="assets/images/icon4.jpg" alt="" />
                </div>
              </div>
              <div class="posttext pull-left">
                <h2>
                  <a (click)='displayPost(p)' onmouseover="this.style.cursor='pointer';">{{p.name}}</a>
                </h2>
                <p>{{p.description}}</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="postinfo pull-left">
              <div class="comments">
                <div class="commentbg">
                  {{numCommentsByPost[p.name]}}
                  <div class="mark"></div>
                </div>

              </div>
              <div class="views">
                <i class="fa fa-eye"></i> 1,568</div>
              <div class="time">
                <i class="fa fa-clock-o"></i> 24 min</div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- POST -->

        </div>
        <div class="col-lg-4 col-md-4">

          <!-- -->
          <div class="sidebarblock">
            <h3>Categories</h3>
            <div class="divline"></div>
            <div class="blocktxt">
              <ul *ngFor='let cat of categories' class="cats">
                <li (click)='displayPostsByCategory(cat.id)' onmouseover="this.style.cursor='pointer';">
                  <a *ngIf='numPostsByCategory[cat.name]'>{{cat.name}}
                    <span class="badge pull-right">{{numPostsByCategory[cat.name]}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- -->
          <div class="sidebarblock">
            <h3>Poll of the Week</h3>
            <div class="divline"></div>
            <div class="blocktxt">
              <p>Which game you are playing this week?</p>
              <form action="#" method="post" class="form">
                <table class="poll">
                  <tr>
                    <td>
                      <div class="progress">
                        <div class="progress-bar color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                          Call of Duty Ghosts
                        </div>
                      </div>
                    </td>
                    <td class="chbox">
                      <input id="opt1" type="radio" name="opt" value="1">
                      <label for="opt1"></label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="progress">
                        <div class="progress-bar color2" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 63%">
                          Titanfall
                        </div>
                      </div>
                    </td>
                    <td class="chbox">
                      <input id="opt2" type="radio" name="opt" value="2" checked>
                      <label for="opt2"></label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="progress">
                        <div class="progress-bar color3" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                          Battlefield 4
                        </div>
                      </div>
                    </td>
                    <td class="chbox">
                      <input id="opt3" type="radio" name="opt" value="3">
                      <label for="opt3"></label>
                    </td>
                  </tr>
                </table>
              </form>
              <p class="smal">Voting ends on 19th of October</p>
            </div>
          </div>

          <!-- -->
          <div class="sidebarblock">
            <h3>My Active Threads</h3>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">This Dock Turns Your iPhone Into a Bedside Lamp</a>
            </div>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">Who Wins in the Battle for Power on the Internet?</a>
            </div>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">Sony QX10: A Funky, Overpriced Lens Camera for Your Smartphone</a>
            </div>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">FedEx Simplifies Shipping for Small Businesses</a>
            </div>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">Loud and Brave: Saudi Women Set to Protest Driving Ban</a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>
<!-- END POST BY CAT PAGE -->



<!-- ***** SELECTED POST CONTENT ***** -->
<div *ngIf='selected' class="container">
  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{selected.name}}</h1>

      <!-- Author -->
      <p class="lead">
        by
        <a (click)="passOtherUserInfo(selected.user)">{{selected.user.username}}</a>
      </p>
      <div class="btn-toolbar ">
        <button (click)='displayAllPost()' class="btn btn-primary" style="padding-right: 10px">All Posts</button>
        <p> </p>
        <button *ngIf='selectedCategory' (click)='return()' class="btn btn-primary" style="margin-left: 10px">{{selectedCategory}} Posts</button>
        <p> </p>
        <button (click)='deletePost(selected)' class='btn btn-primary' style='margin-left: 10px;'>Delete Post</button>
      </div>
      <hr>

      <!-- Date/Time -->
      <p>Posted on {{selected.createdAt.substring(0,10) | date: 'shortDate'}}</p>

      <hr>

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

      <hr>

      <!-- Post Content -->
      <h4>Original Question:</h4>
      <p class="lead">{{selected.description}}</p>

      <!-- <blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt
          tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur
          ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus,
          est!</p> -->

      <hr>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3" name="comment" [(ngModel)]='comment.description'></textarea>
            </div>
            <div class='row'>
              <div class='col'>
                <button (click)='createComment()' type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Single Comment -->
      <div *ngFor='let comment of comments' class="media mb-4">
        <hr>
        <!-- <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt=""> -->
        <div class="media-body">
          <h5 class="mt-0">Comment from: {{comment.user.username}}</h5>
          {{comment.description}}
          <div>
          <textarea *ngIf='initEdit === comment.id' name="comment" id="" cols="70" rows="2" style="border: none" [(ngModel)]='comment.description'>{{comment.description}}</textarea><span>
          <br><a *ngIf='initEdit === comment.id' (click)='editComment(comment)'style="position: absolute; margin-left: 20px" onmouseover="this.style.cursor='pointer';">Submit</a></span><span>
          <a *ngIf='initEdit === comment.id' (click)='cancelEdit()' style="position: absolute; margin-left: 80px;" onmouseover="this.style.cursor='pointer';">Cancel</a></span>
          <p> </p>
        </div>
        </div>
        <div>
          <a (click)='deleteComment(comment)' onmouseover="this.style.cursor='pointer';">Delete</a><span style='margin-left: 10px'><a (click)='initiateEdit(comment.id, comment)' onmouseover="this.style.cursor='pointer';">Edit</a></span>
          <p> </p>
        </div>
        <hr>
      </div>


      <!-- Comment with nested comments -->
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
          vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
          in faucibus.

          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
          </div>

          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">JavaScript</a>
                </li>
                <li>
                  <a href="#">CSS</a>
                </li>
                <li>
                  <a href="#">Tutorials</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->


<!-- ***** NEW TOPIC/POST PAGE ***** -->
<div *ngIf='newTopic' class="container-fluid">

  <div class="headernav">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo ">
          <a href="index.html">
            <img src="images/logo.jpg" alt="" />
          </a>
        </div>
        <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">
          <div class="dropdown">
            <a data-toggle="dropdown" href="#">Borderlands 2</a>
            <b class="caret"></b>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">Borderlands 1</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-2" href="#">Borderlands 2</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-3" href="#">Borderlands 3</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
          <div class="wrap">
            <form action="#" method="post" class="form">
              <div class="pull-left txt">
                <input type="text" class="form-control" placeholder="Search Topics">
              </div>
              <div class="pull-right">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
          <div class="stnt pull-left">
            <form action="03_new_topic.html" method="post" class="form">
              <button (click)='newTopic = false' class="btn btn-primary">Main Page</button>
            </form>
          </div>
          <div class="env pull-left">
            <i class="fa fa-envelope"></i>
          </div>

          <div class="avatar pull-left dropdown">
            <a data-toggle="dropdown" href="#">
              <img src="images/avatar.jpg" alt="" />
            </a>
            <b class="caret"></b>
            <div class="status green">&nbsp;</div>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">My Profile</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-2" href="#">Inbox</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-3" href="#">Log Out</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-4" href="04_new_account.html">Create account</a>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>



  <section class="content">
    <!-- <div class="container">
              <div class="row">
                  <div class="col-lg-8 breadcrumbf">
                      <a href="#">Borderlands 2</a> <span class="diviver">&gt;</span> <a href="#">General Discussion</a> <span class="diviver">&gt;</span> <a href="#">New Topic</a>
                  </div>
              </div>
          </div> -->

    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <h2 align="center">Create A New Post</h2>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">



          <!-- POST -->
          <div class="post">
            <form class="form newtopic">
              <div class="topwrap">
                <div class="userinfo pull-left">
                  <div class="avatar">
                    <img src="assets/images/avatar4.jpg" alt="" />
                    <div class="status red">&nbsp;</div>
                  </div>

                  <div class="icons">
                    <img src="assets/images/icon3.jpg" alt="" />
                    <img src="assets/images/icon4.jpg" alt="" />
                    <img src="assets/images/icon5.jpg" alt="" />
                    <img src="assets/images/icon6.jpg" alt="" />
                  </div>
                </div>
                <div class="posttext pull-left">

                  <div>
                    <input type="text" placeholder="Enter Topic Title" class="form-control" name="postname" [(ngModel)]='post.name' />
                  </div>

                  <div class="row">
                    <div *ngIf="selectedCategoryId === 'Other'" class="col-lg-6 col-md-6" style='padding-bottom: 10px'>
                      <label for="">Enter New Category</label>
                      <input type="text" class="form-control" name='name' [(ngModel)]='category.name'>
                      <button (click)='createCategory()' class='btn btn-success'>Submit</button>
                    </div>
                    <div *ngIf="selectedCategoryId !== 'Other'" class="col-lg-6 col-md-6">
                      <label for="">Select A Category</label>
                      <select name="category" id="category" class="form-control" [(ngModel)]='selectedCategoryId'>
                        <option value="" disabled selected>Select Category</option>
                        <option *ngFor='let c of categories' value="{{c.id}}">{{c.name}}</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                  </div>

                  <div>
                    <textarea name="description" id="desc" placeholder="Description" class="form-control" [(ngModel)]='post.description'></textarea>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="postinfobot">

                <!-- <div class="notechbox pull-left">
                                      <input type="checkbox" name="note" id="note" class="form-control" />
                                  </div> -->

                <!-- <div class="pull-left">
                                      <label for="note"> Email me when some one post a reply</label>
                                  </div> -->

                <div class="pull-right postreply">
                  <div class="pull-left smile">
                    <a href="#">
                      <i class="fa fa-smile-o"></i>
                    </a>
                  </div>
                  <div class="pull-left">
                    <button (click)='createPost()' type="submit" class="btn btn-primary">Post</button>
                  </div>
                  <div class="clearfix"></div>
                </div>


                <div class="clearfix"></div>
              </div>
            </form>
          </div>
          <!-- POST -->

          <div class="row similarposts">
            <div class="col-lg-10">
              <i class="fa fa-info-circle"></i>
              <p>Similar Posts according to your
                <a href="#">Topic Title</a>.</p>
            </div>
            <div class="col-lg-2 loading">
              <i class="fa fa-spinner"></i>
            </div>

          </div>

          <!-- POST -->
          <div class="post">
            <div class="wrap-ut pull-left">
              <div class="userinfo pull-left">
                <div class="avatar">
                  <img src="assets/images/avatar.jpg" alt="" />
                  <div class="status green">&nbsp;</div>
                </div>

                <div class="icons">
                  <img src="assets/images/icon1.jpg" alt="" />
                  <img src="assets/images/icon4.jpg" alt="" />
                </div>
              </div>
              <div class="posttext pull-left">
                <h2>10 Kids Unaware of Their Halloween Costume</h2>
                <p>It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="postinfo pull-left">
              <div class="comments">
                <div class="commentbg">
                  560
                  <div class="mark"></div>
                </div>

              </div>
              <div class="views">
                <i class="fa fa-eye"></i> 1,568</div>
              <div class="time">
                <i class="fa fa-clock-o"></i> 24 min</div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- POST -->


          <!-- POST -->
          <div class="post">
            <div class="wrap-ut pull-left">
              <div class="userinfo pull-left">
                <div class="avatar">
                  <img src="assets/images/avatar2.jpg" alt="" />
                  <div class="status red">&nbsp;</div>
                </div>

                <div class="icons">
                  <img src="assets/images/icon3.jpg" alt="" />
                  <img src="assets/images/icon4.jpg" alt="" />
                  <img src="images/icon5.jpg" alt="" />
                  <img src="images/icon6.jpg" alt="" />
                </div>
              </div>
              <div class="posttext pull-left">
                <h2>What Instagram Ads Will Look Like</h2>
                <p>Instagram offered a first glimpse at what its ads will look like in a blog post Thursday. The sample ad,
                  which you can see below.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="postinfo pull-left">
              <div class="comments">
                <div class="commentbg">
                  89
                  <div class="mark"></div>
                </div>

              </div>
              <div class="views">
                <i class="fa fa-eye"></i> 1,568</div>
              <div class="time">
                <i class="fa fa-clock-o"></i> 15 min</div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- POST -->


          <!-- POST -->
          <div class="post">
            <div class="wrap-ut pull-left">
              <div class="userinfo pull-left">
                <div class="avatar">
                  <img src="assets/images/avatar3.jpg" alt="" />
                  <div class="status red">&nbsp;</div>
                </div>

                <div class="icons">
                  <img src="assets/images/icon2.jpg" alt="" />
                  <img src="assets/images/icon4.jpg" alt="" />
                </div>
              </div>
              <div class="posttext pull-left">
                <h2>The Future of Magazines Is on Tablets</h2>
                <p>Eric Schmidt has seen the future of magazines, and it's on the tablet. At a Magazine Publishers Association.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="postinfo pull-left">
              <div class="comments">
                <div class="commentbg">
                  456
                  <div class="mark"></div>
                </div>

              </div>
              <div class="views">
                <i class="fa fa-eye"></i> 1,568</div>
              <div class="time">
                <i class="fa fa-clock-o"></i> 2 days</div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- POST -->

        </div>
        <div class="col-lg-4 col-md-4">

          <!-- -->
          <div class="sidebarblock">
            <h3>Categories</h3>
            <div class="divline"></div>
            <div class="blocktxt">
              <ul class="cats">
                <li>
                  <a href="#">Trading for Money
                    <span class="badge pull-right">20</span>
                  </a>
                </li>
                <li>
                  <a href="#">Vault Keys Giveway
                    <span class="badge pull-right">10</span>
                  </a>
                </li>
                <li>
                  <a href="#">Misc Guns Locations
                    <span class="badge pull-right">50</span>
                  </a>
                </li>
                <li>
                  <a href="#">Looking for Players
                    <span class="badge pull-right">36</span>
                  </a>
                </li>
                <li>
                  <a href="#">Stupid Bugs &amp; Solves
                    <span class="badge pull-right">41</span>
                  </a>
                </li>
                <li>
                  <a href="#">Video &amp; Audio Drivers
                    <span class="badge pull-right">11</span>
                  </a>
                </li>
                <li>
                  <a href="#">2K Official Forums
                    <span class="badge pull-right">5</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- -->
          <div class="sidebarblock">
            <h3>Poll of the Week</h3>
            <div class="divline"></div>
            <div class="blocktxt">
              <p>Which game you are playing this week?</p>
              <form action="#" method="post" class="form">
                <table class="poll">
                  <tr>
                    <td>
                      <div class="progress">
                        <div class="progress-bar color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                          Call of Duty Ghosts
                        </div>
                      </div>
                    </td>
                    <td class="chbox">
                      <input id="opt1" type="radio" name="opt" value="1">
                      <label for="opt1"></label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="progress">
                        <div class="progress-bar color2" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 63%">
                          Titanfall
                        </div>
                      </div>
                    </td>
                    <td class="chbox">
                      <input id="opt2" type="radio" name="opt" value="2" checked>
                      <label for="opt2"></label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="progress">
                        <div class="progress-bar color3" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                          Battlefield 4
                        </div>
                      </div>
                    </td>
                    <td class="chbox">
                      <input id="opt3" type="radio" name="opt" value="3">
                      <label for="opt3"></label>
                    </td>
                  </tr>
                </table>
              </form>
              <p class="smal">Voting ends on 19th of October</p>
            </div>
          </div>

          <!-- -->
          <div class="sidebarblock">
            <h3>My Active Threads</h3>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">This Dock Turns Your iPhone Into a Bedside Lamp</a>
            </div>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">Who Wins in the Battle for Power on the Internet?</a>
            </div>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">Sony QX10: A Funky, Overpriced Lens Camera for Your Smartphone</a>
            </div>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">FedEx Simplifies Shipping for Small Businesses</a>
            </div>
            <div class="divline"></div>
            <div class="blocktxt">
              <a href="#">Loud and Brave: Saudi Women Set to Protest Driving Ban</a>
            </div>
          </div>


        </div>
      </div>
    </div>



    <!-- <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-xs-12">
                      <div class="pull-left"><a href="#" class="prevnext"><i class="fa fa-angle-left"></i></a></div>
                      <div class="pull-left">
                          <ul class="paginationforum">
                              <li class="hidden-xs"><a href="#">1</a></li>
                              <li class="hidden-xs"><a href="#">2</a></li>
                              <li class="hidden-xs"><a href="#">3</a></li>
                              <li class="hidden-xs"><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#">6</a></li>
                              <li><a href="#" class="active">7</a></li>
                              <li><a href="#">8</a></li>
                              <li class="hidden-xs"><a href="#">9</a></li>
                              <li class="hidden-xs"><a href="#">10</a></li>
                              <li class="hidden-xs hidden-md"><a href="#">11</a></li>
                              <li class="hidden-xs hidden-md"><a href="#">12</a></li>
                              <li class="hidden-xs hidden-sm hidden-md"><a href="#">13</a></li>
                              <li><a href="#">1586</a></li>
                          </ul>
                      </div>
                      <div class="pull-left"><a href="#" class="prevnext last"><i class="fa fa-angle-right"></i></a></div>
                      <div class="clearfix"></div>
                  </div>
              </div>
          </div> -->


  </section>

  <!-- <footer>
          <div class="container">
              <div class="row">
                  <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a href="#"><img src="images/logo.jpg" alt=""  /></a></div>
                  <div class="col-lg-8 col-xs-9 col-sm-5 ">Copyrights 2014, websitename.com</div>
                  <div class="col-lg-3 col-xs-12 col-sm-5 sociconcent">
                      <ul class="socialicons">
                          <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                          <li><a href="#"><i class="fa fa-cloud"></i></a></li>
                          <li><a href="#"><i class="fa fa-rss"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </footer> -->
</div>
