<div class="container-fluid">

  <section class="content">

    <!-- Other User Info -->
    <div class="container">
      <h2>List of Employers</h2>
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <button (click)='return()' class="btn btn-primary" style="padding-right: 10px" *ngIf="selected">Back to Employers</button>

          <div class="post">
            <!-- <div class="postinfotop"> -->


            <!-- acc section -->
            <div class="accsection">
              <div class="acccap">
                <div class="userinfo pull-left">&nbsp;</div>
                <div class="clearfix"></div>
              </div>
              <div class="topwrap" *ngFor="let employer of employers">
                <div class="employerInfo" *ngIf="!selected">
                  <h2 (click)="showOneEmployer(employer.id)">Employer Name: {{employer.name | titlecase}}</h2>
                  <p>Hiring: {{employer.hiring}}</p>
                  <p>Address: </p>
                  <p>{{employer.address.street}}
                    <span *ngIf="employer.address.street2">
                      Suite: {{employer.address.street}}
                    </span>
                    <p>{{employer.address.city}}, {{employer.address.state}}, {{employer.address.country}}, {{employer.address.zip}}</p>
                    <p>Technologies:</p>
                    <ul>
                      <li *ngFor="let tech of employer.technologies">
                        {{tech.name}}
                      </li>
                    </ul>
                </div>
                <!-- <div class="clearfix"></div> -->
              </div>
            </div>
            <!-- acc section END -->

            <div class="postinfobot">
              <!-- <div class="clearfix"></div> -->
            </div>
          </div>
          <!-- End Other User Info -->

          <!-- SELECTED EMPLOYER -->
          <div class="post">
            <div class="accsection" *ngIf="selected">
              <div class="acccap">
                <div class="userinfo pull-left">&nbsp;</div>
                <!-- <div class="clearfix"></div> -->
              </div>
              <div class="topwrap">
                <div class="employerInfo">
                  <h2>Employer Name: {{employer.name | titlecase}}</h2>
                  <p>Hiring: {{employer.hiring}}</p>
                  <p>Address:</p>
                  <p>{{employer.address.street}}
                    <span *ngIf="employer.address.street2">
                      Suite: {{employer.address.street}}
                    </span>
                    <p>{{employer.address.city}}, {{employer.address.state}}, {{employer.address.country}}, {{employer.address.zip}}</p>
                    <p>Technologies:</p>
                    <ul>
                      <li *ngFor="let tech of employer.technologies">
                        {{tech.name}}
                      </li>
                    </ul>
                </div>
                <!-- <div class="clearfix"></div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- END SELECTED EMPLOYER -->


        <!-- Hiring Sidebar -->
        <div class="col-lg-4 col-md-4">

          <div class="sidebarblock">
            <h3>Cities with SD Employers</h3>
            <div class="divline"></div>
            <div class="blocktxt">
              <ul class="cats">
                <li *ngFor="let employer of employers">
                  <p>{{employer.address.city}}, {{employer.address.state}}
                    <span class="badge pull-right" *ngIf="employersInCityCounter(employer.address.city)">{{cityCount}}</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Hiring Sidebar -->

        </div>
      </div>
    </div>
  </section>

</div>
