<div class="container-fluid">

  <section class="content">
    <div class="container">
      <h2 class="header">About Us</h2>
    </div>

    <table>

        <tr><th>Rebecca Allen</tr>
          <tr ng-repeat="obj in Data"></tr>
              <td><img src="assets/images/Rebecca.jpeg"/></td>
                  <td>Student at Skill Distillery</td>

                  <tr><th>Richard Blankenhorn</tr>
                    <tr ng-repeat="obj in Data"></tr>
                        <td><img src="assets/images/Richard.jpeg"/></td>
                        <td>Student at Skill Distillery</td>

                        <tr><th>Mark Coleman</tr>
                          <tr ng-repeat="obj in Data"></tr>
                              <td><img src="assets/images/Mark.jpeg"/></td>
                                  <td>Student at Skill Distillery</td>

                                <tr><th>Miranda Martin</tr>
                                  <tr ng-repeat="obj in Data"></tr>
                                  <td><img src="assets/images/Miranda.jpg"/></td>
                                  <td>Student at Skill Distillery nfsdnkjsndkjsbvsbvisdbvjkdsbvjkdsbvjkdsbvjkdsbvjkdsbvjdsbjvdsbjvkdsvbjkdsncdjvbdsjvbdjkbvdjka
                                      bjdkvkdlsvldsvnfksjbjdsbjdsvnkdsjvkdsnbkdsnbksdnbkldsnbkdlsnbkdslnbkldsnbdkls</td>

                                     <tr><th>Xian Zheng</tr>
                                        <tr ng-repeat="obj in Data"></tr>
                                         <td><img src="assets/images/xian.jpeg"/></td>
                                            <td>Student at Skill Distillery
                                            </td>


      </table>


