<div class="container-fluid">

  <section class="content">
    <div class="container">
      <h1 class="header">About Us</h1>

      <hr>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
          <img src="assets/images/Rebecca.jpeg" />
        </div>
        <div class="col-3">
          <div class="aboutUs">
            <h3>Rebbeca Allen</h3>
            <h5>Full-Stack Java Developer</h5>
            <p>Stuff</p>
          </div>
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
          <img src="assets/images/Richard.jpeg" />
        </div>
        <div class="col-3">
          <div class="aboutUs">
            <h3>Richard Blankenhorn</h3>
            <h5>Full-Stack Java Developer</h5>
            <p>Stuff</p>
          </div>
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
          <img src="assets/images/Mark.jpeg" />
        </div>
        <div class="col-3">
          <div class="aboutUs">
            <h3>Mark Coleman</h3>
            <h5>Full-Stack Java Developer</h5>
            <p>Stuff</p>
          </div>
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
          <img src="assets/images/Miranda.jpg" />
        </div>
        <div class="col-3">
          <div class="aboutUs">
            <h3>Miranda Martin</h3>
            <h5>Full-Stack Java Developer</h5>
            <p>Stuff</p>
          </div>
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
          <img src="assets/images/Xian.jpeg" />
        </div>
        <div class="col-3">
          <div class="aboutUs">
            <h3>Xian Zheng</h3>
            <h5>Full-Stack Java Developer</h5>
            <p>Stuff</p>
          </div>
        </div>
        <div class="col-3"></div>
      </div>

    </div>

    <!-- <table>

        <tr><th>Rebecca Allen</tr>
          <tr ng-repeat="obj in Data"></tr>
              <td><img src="assets/images/Rebecca.jpeg"/></td>
                  <td>Student at Skill Distillery</td>

                  <tr><th>Richard Blankenhorn</tr>
                    <tr ng-repeat="obj in Data"></tr>
                        <td><img src="assets/images/Richard.jpeg"/></td>
                        <td>Student at Skill Distillery</td>

                        <tr><th>Mark Coleman</tr>
                          <tr ng-repeat="obj in Data"></tr>
                              <td><img src="assets/images/Mark.jpeg"/></td>
                                  <td>Student at Skill Distillery</td>

                                <tr><th>Miranda Martin</tr>
                                  <tr ng-repeat="obj in Data"></tr>
                                  <td><img src="assets/images/Miranda.jpg"/></td>
                                  <td>Student at Skill Distillery nfsdnkjsndkjsbvsbvisdbvjkdsbvjkdsbvjkdsbvjkdsbvjkdsbvjdsbjvdsbjvkdsvbjkdsncdjvbdsjvbdjkbvdjka
                                      bjdkvkdlsvldsvnfksjbjdsbjdsvnkdsjvkdsnbkdsnbksdnbkldsnbkdlsnbkdslnbkldsnbdkls</td>

                                     <tr><th>Xian Zheng</tr>
                                        <tr ng-repeat="obj in Data"></tr>
                                         <td><img src="assets/images/Xian.jpeg"/></td>
                                            <td>Student at Skill Distillery
                                            </td>


      </table> -->
