<div class="container-fluid">

  <section class="content">
    <div class="container">
      <h2 class="header">About Us</h2>
      <div class="row">

        <div class="col-3"></div>
        <div class="col-3">
          <h3>Richard Blankenhorn</h3>
          <img src="assets/images/Richard.jpeg" />
        </div>
        <div class="col-3" class="aboutUs">
          <h5>Full-Stack Java Developer</h5>
          <p>Stuff</p>
        </div>
        <div class="col-3"></div>

      </div>

    </div>

    <!-- <table>

        <tr><th>Rebecca Allen</tr>
          <tr ng-repeat="obj in Data"></tr>
              <td><img src="assets/images/Rebecca.jpeg"/></td>
                  <td>Student at Skill Distillery</td>

                  <tr><th>Richard Blankenhorn</tr>
                    <tr ng-repeat="obj in Data"></tr>
                        <td><img src="assets/images/Richard.jpeg"/></td>
                        <td>Student at Skill Distillery</td>

                        <tr><th>Mark Coleman</tr>
                          <tr ng-repeat="obj in Data"></tr>
                              <td><img src="assets/images/Mark.jpeg"/></td>
                                  <td>Student at Skill Distillery</td>

                                <tr><th>Miranda Martin</tr>
                                  <tr ng-repeat="obj in Data"></tr>
                                  <td><img src="assets/images/Miranda.jpg"/></td>
                                  <td>Student at Skill Distillery nfsdnkjsndkjsbvsbvisdbvjkdsbvjkdsbvjkdsbvjkdsbvjkdsbvjdsbjvdsbjvkdsvbjkdsncdjvbdsjvbdjkbvdjka
                                      bjdkvkdlsvldsvnfksjbjdsbjdsvnkdsjvkdsnbkdsnbksdnbkldsnbkdlsnbkdslnbkldsnbdkls</td>

                                     <tr><th>Xian Zheng</tr>
                                        <tr ng-repeat="obj in Data"></tr>
                                         <td><img src="assets/images/xian.jpeg"/></td>
                                            <td>Student at Skill Distillery
                                            </td>


      </table> -->
