.header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
img {
  border-radius: 50%;
  padding-top: 15px;
  padding-bottom: 30px;
  width: 250px;
  height: auto;
}

.aboutUs {
  margin: 0 auto;
	padding: 15px;
	text-align: center;
}
/* tr {
  text-align: center;
}
td {
  padding-right: 55px;
  padding-left: 55px;
}
th {
  font-size: 20px;
} */
