.header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  text-align: center;
}

img {
  border-radius: 50%;
  padding-top: 15px;
  padding-bottom: 30px;
  width: 250px;
  height: auto;
}

.aboutUs {
  padding-top: 25%;
  padding-bottom: 25%;
}
/*  tr {
  text-align: center;
}
td {
  padding-right: 55px;
  padding-left: 55px;
}
th {
  font-size: 20px;
} */
