<div class="container-fluid">

  <section class="content">

    <!-- OPEN USER INFO DIV -->
    <div class="container">

      <h2>{{user.username | titlecase}}'s Profile</h2>
      <button (click)='backToPost()' class="btn btn-primary" style="padding-right: 10px">Back to Posts</button>
      <button (click)='updateForm=true' class="btn btn-primary" style="padding-right: 20px">Update Profile</button>
      <div class="row">
        <div class="col-lg-8 col-md-8">

          <div class="post">

            <!-- acc section -->
            <div class="accsection">
              <div class="acccap">
                <div class="userinfo pull-left">&nbsp;</div>
                <div class="clearfix"></div>
              </div>
              <div class="topwrap">
                <div class="userProfile">
                  <h2>Username: {{user.username | titlecase}}</h2>
                  <p>Name: {{user.profile.firstName}} {{user.profile.lastName}}</p>
                  <p>Email: {{user.profile.email}}</p>
                  <div *ngIf="user.profile.address">
                    <p>Address:</p>
                    <ul>
                      <li>Street: {{user.profile.address.street}}</li>
                      <li>Street (cont...): {{user.profile.address.street2}}</li>
                      <li>City: {{user.profile.address.city}}</li>
                      <li>State: {{user.profile.address.state}}</li>
                      <li>Country: {{user.profile.address.country}}</li>
                      <li>Zip: {{user.profile.address.zip}}</li>
                    </ul>
                  </div>
                  <p *ngIf="user.profile.cohort">Skill Distillery Cohort: {{user.profile.cohort}}</p>
                  <p>Employed: {{user.profile.employed}}</p>
                  <p *ngIf="user.profile.employed">Current Employer: {{user.profile.employer.name}}</p>
                  <div *ngIf="user.profile.technologies.length > 0">
                    <p>Technologies:</p>
                    <ul>
                      <li *ngFor="let tech of user.profile.technologies">
                        {{tech.name}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <!-- acc section END -->

            <div class="postinfobot">
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- End User Info -->


        </div>
        <div class="col-lg-4 col-md-4">

          <!-- Posts Sidebar -->
          <div class="sidebarblock">
            <h3>Top Posts</h3>
            <div class="divline"></div>
            <div class="blocktxt">
              <ul class="cats">
                <li *ngFor="let post of posts">
                  <p (click)="showPost(post)">{{post.name}}
                    <span class="badge pull-right">20</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    <!-- CLOSE USER INFO DIV -->
    </div>

    <!-- OPEN FORM DIV -->
    <div class="container">

      <div *ngIf="updateForm">
        <form  #updateForm="ngForm">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" placeholder="First Name" class="form-control" name="firstName" [ngModel]="user.profile.firstName"/>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" placeholder="Last Name" class="form-control" name="lastName" [ngModel]="user.profile.lastName"/>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="text" placeholder="Email Address" class="form-control" name="email" [ngModel]="user.profile.email"/>
          </div>
          <div class="form-group">
            <label for="cohort">Cohort</label>
            <input type="text" placeholder="Cohort" class="form-control" name="cohort" [ngModel]="user.profile.cohort"/>
          </div>
          <div class="form-group">
            <label for="Street">Street</label>
            <input type="text" placeholder="Street" class="form-control" name="street" [ngModel]="user.profile.address.street"/>
          </div>
          <div class="form-group">
            <label for="Street2">Employed</label>
            <input type="text" placeholder="Street (cont...)" class="form-control" name="street2" [ngModel]="user.profile.address.street2"/>
          </div>
          <div class="form-group">
            <label for="City">City</label>
            <input type="text" placeholder="City" class="form-control" name="city" [ngModel]="user.profile.address.city"/>
          </div>
          <div class="form-group">
            <label for="State">State</label>
            <input type="text" placeholder="State" class="form-control" name="state" [ngModel]="user.profile.address.state"/>
          </div>
          <div class="form-group">
            <label for="Country">Employed</label>
            <input type="text" placeholder="Country" class="form-control" name="country" [ngModel]="user.profile.address.country"/>
          </div>
          <div class="form-group">
            <label for="Zip">Zip</label>
            <input type="text" placeholder="Zip" class="form-control" name="zip" [ngModel]="user.profile.address.zip"/>
          </div>
          <div class="form-group">
            <label for="employer">Select your employer</label>
            <select class="form-control">

            </select>
          </div>
          <div class="form-group">
            <button (click)='updateProfile()' class="btn btn-primary text-center" style="padding-left: 25px">Update Profile</button>
          </div>
        </form>
      </div>

    <!-- CLOSE FORM DIV -->
    </div>

  </section>

</div>
