<div class="container-fluid">

  <section class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 breadcrumbf">
          <a [routerLink]="['/login']">Already a member? Login here</a>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">

          <!-- Register Form -->
          <div class="post">
            <form action="#" class="form newtopic" method="post">
              <div class="postinfotop">
                <h2>Create New Account</h2>
              </div>

              <!-- acc section -->
              <div class="accsection">
                <div class="acccap">
                  <div class="userinfo pull-left">&nbsp;</div>
                  <div class="posttext pull-left">
                    <h3>Required Fields</h3>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="topwrap">
                  <div class="userinfo pull-left">
                    <!-- <div class="avatar">
                      <img src="assets/images/avatar-blank.jpg" alt="" />
                      <div class="status green">&nbsp;</div>
                    </div> -->
                    <!-- <div class="imgsize">60 x 60</div>
                    <div>
                      <button class="btn">Add</button>
                    </div> -->
                  </div>
                  <div class="posttext pull-left">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="First Name" class="form-control" name="firstName" [(ngModel)]="dto.profileFirstName"/>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="Last Name" class="form-control" name="lastName" [(ngModel)]="dto.profileLastName"/>
                      </div>
                    </div>
                    <div>
                      <input type="email" placeholder="Email Address" class="form-control" name="email" [(ngModel)]="dto.profileEmail"/>
                    </div>
                    <div>
                      <input type="text" placeholder="User Name" class="form-control" name="username" [(ngModel)]="dto.userUsername"/>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <input type="password" placeholder="Password" class="form-control" id="pass" name="pass" [(ngModel)]="dto.userPassword"/>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <input type="password" placeholder="Retype Password" class="form-control" id="pass2" name="confirmPassword" [(ngModel)]="confirmPassword"/>
                      </div>
                    </div>

                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <!-- acc section END -->

              <div class="postinfobot">

                <!-- <div class="notechbox pull-left">
                  <input type="checkbox" name="note" id="note" class="form-control" />
                </div>

                <div class="pull-left lblfch">
                  <label for="note"> I agree with the Terms and Conditions of this site</label>
                </div> -->

                <div class="pull-right postreply">
                  <div class="pull-left smile">
                    <a href="#">
                      <i class="fa fa-smile-o"></i>
                    </a>
                  </div>
                  <div class="pull-left">
                    <button type="submit" class="btn btn-primary" (click)="register(dto, confirmPassword)">Sign Up</button>
                  </div>
                  <div class="clearfix"></div>
                </div>


                <div class="clearfix"></div>
              </div>
            </form>
          </div>
          <!-- End Register Form -->


        </div>
        <div class="col-lg-4 col-md-4">

          <!-- Categories Sidebar -->
          <div class="sidebarblock">
            <h3>Categories</h3>
            <div class="divline"></div>
            <div class="blocktxt">
              <ul class="cats">
                <li>
                  <a href="#">Trading for Money
                    <span class="badge pull-right">20</span>
                  </a>
                </li>
                <li>
                  <a href="#">Vault Keys Giveway
                    <span class="badge pull-right">10</span>
                  </a>
                </li>
                <li>
                  <a href="#">Misc Guns Locations
                    <span class="badge pull-right">50</span>
                  </a>
                </li>
                <li>
                  <a href="#">Looking for Players
                    <span class="badge pull-right">36</span>
                  </a>
                </li>
                <li>
                  <a href="#">Stupid Bugs &amp; Solves
                    <span class="badge pull-right">41</span>
                  </a>
                </li>
                <li>
                  <a href="#">Video &amp; Audio Drivers
                    <span class="badge pull-right">11</span>
                  </a>
                </li>
                <li>
                  <a href="#">2K Official Forums
                    <span class="badge pull-right">5</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
