<div class="container-fluid">

    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 breadcrumbf">

          </div>
        </div>
      </div>
      <a>
          <img src="assets/images/sdlogo.png" alt="" />
        </a>

      <div class="textbox">
          <h1>WELCOME TO SD OVERFLOW</h1>
          <hr>
          <div class="divline"></div>
          <div class="blocktxt">
            <p>SD Overflow was created for alumi and current students from Skill Distillery to make connections
              and recieve support in entering the technical world. The website serves as a platform
              for users to ask and answer questions and start topics rearding SD, interviewing and possible employment
              oppurtunities.
              Start a profile and stay connected with your SD fam!  </p>

            </div>
            </div>
            <div class="logopic">
            <a>
                <img src="assets/images/logostech.png"/>
              </a>
            </div>

