<div class="container-fluid">

    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 breadcrumbf">
            <a [routerLink]="['/register']">Don't have an account? Create one here</a>
          </div>
        </div>
      </div>

      <div class="sidebarblock">
          <h1>WELCOME TO SD OVERFLOW</h1>
          <div class="divline"></div>
          <div class="blocktxt">
            </div>
            </div>
            <div class="container-fluid ">
                <a>
                  <img src="assets/images/sdlogo.png" alt="" />
                </a>
              </div>
